.projectList {
  display: grid;
  grid-template-columns: repeat(3, minmax(1px, 1fr));
  column-gap: 1em;

  .item {
    position: relative;
    padding: 0.5em;
    cursor: pointer;
    transition: transform 0.2s;
    transform: scale(1);

    &:hover {
      transform: scale(1.01);
    }

    &.pick {
      box-shadow: 0 0 10px #3562a0;
      transition: box-shadow 0.1s;
    }

    .text {
      height: 20vh;
      border: 1px solid rgb(71, 71, 71);
      border-radius: 0.2em;

      overflow-y: auto;
      color: gray;
      user-select: none;
    }

    .name {
      margin-top: 0.5em;
      text-align: center;
    }
  }
}
